* {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header {
    background-color: rgb(67, 66, 66);
}


li {
    color: white;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}

.item {
    display: flex;
    font-size: 18px;
}

.header-logo {
    width: 133px;
}


/* banner section start */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    color: white;
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(17, 17, 17), rgb(44, 44, 44));
}

.title {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
}

.button {
    padding: 15px 20px;
    border-radius: 5px;
    background: rgb(250, 59, 26);
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

.banner-img {
    width: 400px;
}

/* about section start */
.about-section {
    margin-top: 40px;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.about-title {
    font-size: 55px;
    text-align: center;
    margin-bottom: 10px;
}

.description-title {
    margin-bottom: 10px;
}

.about-img {
    width: 300px;
}